.hero-section {
  min-height: 80vh;
  background: linear-gradient(
      rgba(13, 110, 253, 0.85),
      rgba(13, 110, 253, 0.85)
    ),
    url("./../../../assets/hero.jpg") center/cover no-repeat;
}


.vertical-line {
  width: 8px;
  height: 150px;
  border-radius: 5px;
}
.transition-track {
  transition: transform 0.5s ease-in-out;
}
/* 10% custom tweaks only */
.object-fit-cover {
  object-fit: cover;
}
.card {
  flex: 0 0 auto;
}

