<div style="padding: 80px 20px 30px 20px;">
  <button routerLink="../" class="btn btn-primamry mb-3">← Back</button>
  <div class="card mb-3 custom-rounded p-4" style="max-width: 100%;" *ngIf="course">
    <div class="row no-gutters ">
      <div class="col-md-7">
        <div class="card-body">
          <h1 class="card-title">{{ course.title }}</h1>
          <p class="card-text mt-4">{{ course.description }}</p>
          <p class="fs-5 card-text mt-4">Instructor: <strong>{{ course.instructor }}</strong></p>
          <div class="d-flex mt-4" style="gap: 85px;">
            <span class="fs-5 me-5">
             <strong>⭐ {{  course.rating }}</strong>
            </span>
            <span class="fs-5 me-5"><strong>{{ course.exercises }}</strong></span>
            <span class="fs-5 me-5"><strong>{{ course.hours }}</strong></span>
          </div>
          <div class="d-flex" style="gap: 48px;">
            <small class="text-muted">average course rating</small>
            <small class="text-muted">practice exercises</small>
            <small class="text-muted">hours of content</small>
          </div>

          <div class="d-flex mt-5" style = "gap: 30px;">
            <button class="btn btn-primary">Enroll Now!</button>
            <span class="fs-6 p-2">Starting at ₹{{ course.price }}. Cancel anytime.</span>
          </div>

          
        </div>
      </div>
      <div class="col-md-5 d-flex align-items-stretch">
        <img src="{{course.thumbnail}}" class="card-img custom-rounded h-100" alt="{{course.title}}">
      </div>
    </div>
  </div>
</div>